#registerdiv {
    width: 420px;
    height: 500px;
    position: relative;
    margin-top: 100px;
    text-align: center;
    padding: 20px;
}


/* .usertext {
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    border-radius: 10px;
    width: 220px;
} */


/* .userbutton {
    padding: 10px;
    margin-top: 40px;
    font-size: 30px;
    background-color: palegoldenrod;
    width: 260px;
} */


/* label {
    border: 2px solid black;
    padding: 5px;
    background-color: white;
} */


/* #registersifre {
    margin-left: 65px;
} */