/* #baslik {
    height: 130px;
    width: 1300px;
    background-color: darkgray;
    margin: 20px;
    display: flex;
    justify-content: space-around;
} */


/* 
#urunalani {
    width: 1300px;
    height: 1000px;
    margin: 20px;
    background-color: wheat;
    word-wrap: break-word;
    overflow: auto;
} */


/* #main {
    margin: 70px;
} */


/* #sepetbtn {
    padding: 5px;
    background-color: forestgreen;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 25px;
    height: 100px;
} */


/* #logindon {
    padding: 5px;
    background-color: forestgreen;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 25px;
    height: 100px;
} */


/* .urunsira {
    width: 200px;
    height: 320px;
    background-color: darkgoldenrod;
    text-align: center;
    float: left;
    margin: 35px;
    line-height: 20px;
    font-size: 20px;
    word-wrap: break-word;
    overflow: auto;
} */


/* img {
    width: 170px;
    height: 150px;
    background-color: darkgreen;
} */