/* .urunsira {
    width: 200px;
    height: 320px;
    background-color: darkgoldenrod;
    text-align: center; 
    float: left;
    margin: 35px;
    line-height: 20px;
    font-size: 20px;
    word-wrap: break-word;
    overflow: auto;
} */


/* #main {
       margin-left: 80px;
   }
    */


/* #baslik {
       margin-top: 15px;
       width: 1325px;
       height: 100px;
       background-color: cadetblue;
       margin-bottom: 20px;
       text-align: center;
   } */


/* #ayarlar {
       width: 400px;
       height: 900px;
       background-color: peachpuff;
       float: left;
       text-align: center;
       font-size: 20px;
   } */


/* .girdi {
       padding: 5px;
       font-size: 15px;
   }
    */


/* #urunler {
        margin-left: 25px; 
        width: 900px;
       height: 900px;
       background-color: white;
       border: 2px solid black;
       float: left;
   
   overflow: scroll;
}
*/


/* #btnsil {
       background-color: red;
   }
   
   #btnduzenle {
       background-color: royalblue;
   }
   
   #btnekle {
       background-color: forestgreen;
   }
   
   .btngirdi {
       width: 250px;
       height: 50px;
       border-radius: 15px;
       font-size: 20px;
   }
    */


/* img {
       width: 170px;
       height: 150px;
       background-color: darkgreen;
   } */