#logindiv {
    width: 400px;
    height: 520px;
    position: relative;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    padding: 25px;
}


/* .usertext {
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    border-radius: 10px;
    width: 220px;
} */


/* .userbutton {
    padding: 10px;
    margin: 20px;
    font-size: 30px;
    background-color: gold;
    width: 200px;
} */


/* label {
    border: 2px solid black;
    padding: 3px;
    background-color: white;
    font-weight: 500;
} */


/* #loginsifre {
    margin-left: 45px;
} */


/* body {
    background-color: gainsboro;
} */