/* #main {
    margin-left: 80px;
}

#baslik {
    height: 130px;
    width: 1300px;
    background-color: darkgray;
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}

#ayarlar {
    width: 400px;
    height: 900px;
    background-color: peachpuff;
    float: left;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
} */


/* #urunler {
    margin-left: 25px;
    width: 900px;
    height: 900px;
    background-color: white;
    border: 2px solid black;
    float: left;
    overflow: scroll;
} */


/* .urunsira {
    width: 200px;
    height: 320px;
    background-color: darkgoldenrod;
    text-align: center;
    float: left;
    margin: 35px;
    line-height: 20px;
    font-size: 20px;
    word-wrap: break-word;
    overflow: auto;
} */


/* img {
    width: 170px;
    height: 150px;
    background-color: darkgreen;
} */


/* #urunsayfa {
    padding: 5px;
    background-color: forestgreen;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 25px;
    height: 100px;
} */


/* #odemeyap {
    padding: 5px;
    background-color: forestgreen;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 25px;
    height: 100px;
} */